<h1>Recent Stories</h1>

<% @stories.each do |story| %>
  <div class="story">
    <h2><%= story.title %></h2>
    <p><%= story.summary %></p>
    <p>By <%= story.user.username %></p>
    <%= link_to "Read More", story_path(story) %>
  </div>
<% end %>
